/build
/Build
*.json
*DS_Store
/.idea
/.vscode
/CMakeFiles
CMakeCache.txt
cmake_install.cmake
Binary-Translator
temp.ll
a.out
/CPU_Simulator.dSYM
CPU_Simulator
*.json
*cmake*
Makefile
bytecode.txt
test.txt
